:root {
    /* Colors */
    --white:#ffffff;
    --black:#1e2022;
    --grey-main:#657488;
    --extra-light-blue:#ecf2fada;
    --light-blue:#84adfd;
    --blue:#3379ff;
    --green:#02c5a5;

    /* Sizes */
    --size-10:0.625rem;
    --size-12:0.75rem;
    --size-14:0.875rem;
    --size-20:1.25rem;
    --size-25:1.563rem;
    --size-30:1.875rem;
    --size-50:3.125rem;
    --size-100:6.25rem;
    --size-150:9.375rem;
    --size-200:12.5rem; 
}
html, body {overflow-x: hidden;}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--size-14);
    font-weight:300;
    line-height: 2rem;
    letter-spacing: 0;
    color: var(--grey-main);
    margin:0;
    padding:0;
    width: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
}

h2 {
    font-size: var(--size-50);
    color: var(--black);
    font-weight: 650;
}

a {text-decoration: none;}

p {margin-top:0;}

ul {
    padding:0;
    margin:0;
    list-style:none;
}

img{
    width:100%;
    max-width:100%;
    vertical-align: middle;
    border-style: none;
}

.container { 
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    margin-left:20%;
    margin-right:20%;
}

.button {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size:.90rem;
    padding: 0.5rem 1rem;
    border-radius:2rem;
}
.button:hover {
    animation: card 300ms ease-in-out 0s 1 normal both;
    cursor: pointer;
}
    @keyframes card {
        0% { transform: scale(1);}
        100% {transform: scale(1.1);}
    }
